@media (max-width: 1200px)
  .container
    max-width: 990px
  .slider
    width: 580px
  .swiper
    &-slide
      width: 100%
@media (max-width: 992px)
  .container
    max-width: 730px
  .navbar
    &-top
      padding: 30px 0
    &__search
        margin-left: auto
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 132px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
      &__info
        flex-direction: row
      &__booking
        width: 340px
      &__map
        width: 340px
  .slider
    width: 100%
    margin-bottom: 30px
  .swiper
    &-container
      height: 400px
  .newsletter
    padding: 88px 0 77px
    &-wrapper
      max-width: 730px
@media (max-width: 768px)
  .container
    max-width: 606px
  .navbar
    &:first-of-type
      position: fixed
      top: 0
      left: 0
      z-index: 1000
      width: 100%
    &__search, &-menu, &__user
      display: none
    &-top
      &__menu-btn
        display: flex
  .breadcrumbs
    &--responsive
      margin-top: 70px
  .hotel
    &-info
      padding: 5px 0 20px
    &-descr
      max-width: 280px
      &__main
        justify-content: space-between
      &__stars
        flex-basis: auto
        margin-right: 10px
      &__offer
        order: -1
      &__name
        flex-basis: 100%
        margin-right: 0
        margin-top: 10px
    &-grid
      &__booking
        width: 265px
      &__map
        width: 265px
  .swiper
    &-container
      height: 350px
  .newsletter
    padding: 66px 0 77px
    &-wrapper
      max-width: 606px
      flex-direction: column
      align-items: flex-start
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
@media (max-width: 576px)
  .container
    max-width: 310px
  .logo
    width: 99px
  .hotel
    padding-bottom: 40px
    &-rating
      display: none
    &-grid
      &__info
        flex-direction: column
      &__booking
        width: 100%
        margin-bottom: 20px
      &__map
        width: 100%
  .slider
    margin-bottom: 20px
  .swiper
    &-container
      height: 250px
  .newsletter
    &-wrapper
      max-width: 310px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
