@media (max-width: 1200px)
  .container
    max-width: 990px
@media (max-width: 992px)
  .container
    max-width: 730px
  .navbar
    &-top
      padding: 30px 0
    &__search
        margin-left: auto
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 132px
  .search
    &__input
      width: 340px
@media (max-width: 768px)
  .container
    max-width: 606px
  .navbar
    &:first-of-type
      position: fixed
      top: 0
      left: 0
      width: 100%
    &__search, &-menu, &__user
      display: none
    &-top
      &__menu-btn
        display: flex
  .breadcrumbs
    &--responsive
      margin-top: 70px
  .hotel
    &-info
      padding: 5px 0 20px
    &-descr
      max-width: 280px
      &__main
        justify-content: space-between
      &__stars
        flex-basis: auto
        margin-right: 10px
      &__offer
        order: -1
      &__name
        flex-basis: 100%
        margin-right: 0
        margin-top: 10px
@media (max-width: 576px)
  .container
    max-width: 310px
  .logo
    width: 99px
  .hotel
    &-rating
      display: none
