@media (max-width: 1200px)
  .container
    max-width: 990px
  .hotel
    &-slider
      width: 580px
      &__item
        width: 100%
  .card
    width: 230px
    height: 230px
  .packages
    &-wrapper
      grid-template-columns: repeat(3, 300px)
      grid-template-rows: repeat(2, 500px)
      grid-gap: 30px
  .footer
    &__input
      &-group
        flex-basis: 100%
    &-bottom
      &__wrapper
        max-width: 616px
@media (max-width: 992px)
  .container
    max-width: 730px
  .navbar
    &-top
      padding: 30px 0
    &__search
        margin-left: auto
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 132px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 55px
    &-grid
      flex-direction: column
      &__info
        flex-direction: row
      &__booking
        width: 340px
      &__map
        width: 340px
    &-slider
      width: 100%
      margin-bottom: 30px
      &__item
        height: 400px
  .packages
    &__title
      margin-bottom: 50px
    &-wrapper
      grid-template-columns: repeat(2, 335px)
      grid-template-rows: repeat(3, 500px)
      grid-gap: 30px
    &-card
      &__descr
        &--detailed
          padding: 35px 21px 25px 32px
      &__title
        &--detailed
          margin: 0 0 22px
          line-height: 18px
      &__text
        margin: 0 0 29px
  .newsletter
    padding: 88px 0 77px
    &-wrapper
      max-width: 730px
  .reviews
    padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
        &::before, &::after
          display: none
    &__text
      max-width: 455px
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
  .card
    width: 337px
    height: 255px
    &:nth-child(1), &:nth-child(2)
      margin-bottom: 20px
  .footer
    padding: 73px 0 33px
    &-wrapper
      grid-template-columns: 30% 40% 30%
      grid-row-gap: 40px
    &__logo
      grid-row: 1 / 2
      width: 104px
    &__social
      &-networks
        grid-row: 1 / 2
        grid-column: span 2
    &__categories
      grid-row: 2 / 3
    &__contact
      &-details
        grid-row: 3
        grid-column: span 2
      &-form
        grid-row: 4
        grid-column: span 2
    &__input
      &-group
        flex-basis: 47.3%
    &-bottom
      &__wrapper
        margin-top: 56px
        margin-left: 0
        max-width: 100%
  .modal
    &__dialog
      padding: 25px 70px
      width: 55%
@media (max-width: 768px)
  .container
    max-width: 606px
  .navbar
    &--mobile
      &--fixed
        position: fixed
        top: 0
        left: 0
        z-index: 10
        width: 100%
    &__search, &__user
      &--mobile
        &--hidden
          display: none
    &__search
      margin: auto
    &__user
      &--mobile
        &--visible
          flex-direction: column
          align-items: center
    &__search
      &--mobile
        &--visible
          width: 95%
          max-width: 290px
    &-bottom
      display: none
      position: fixed
      top: 78px
      left: 0
      right: 0
      bottom: 0
      overflow-y: scroll
      &--visible
        display: flex
        flex-direction: column
        align-items: center
    &-top
      &__menu-btn
        display: flex
    &-menu
      flex-direction: column
      padding-top: 31px
      &__item
        margin-bottom: 20px
        &:hover
          border-bottom: 1px solid transparent
        &:first-child
          margin-bottom: 27px
        &:nth-child(2)
          margin-bottom: 37px
        &--mobile
          &--visible
            display: flex
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  body
    padding-top: 78px
  .hotel
    &-info
      padding: 5px 0 20px
    &-descr
      max-width: 280px
      &__main
        justify-content: space-between
      &__stars
        flex-basis: auto
        margin-right: 10px
      &__offer
        order: -1
      &__name
        flex-basis: 100%
        margin-right: 0
        margin-top: 10px
    &-grid
      &__info
        flex-direction: column
      &__booking
        width: 100%
        margin-bottom: 30px
      &__map
        width: 100%
    &-slider
      &__item
        height: 350px
  .packages
    padding: 30px 0 55px
    &__title
      margin-bottom: 40px
      font-size: 32px
      line-height: 40px
    &-wrapper
      grid-template-columns: repeat(2, minmax(250px, max-content))
      grid-template-rows: repeat(3, 500px)
      grid-gap: 10px
  .newsletter
    padding: 66px 0 77px
    &-wrapper
      max-width: 606px
      flex-direction: column
      align-items: flex-start
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    &__title
      font-size: 24px
      line-height: 32px
      margin-bottom: 35px
    &__profile
      margin-bottom: 25px
    &-slider
      &__item
        padding: 0 30px 30px
        width: 100%
      &__button
        top: 45px
        &--prev
          left: 50%
          transform: translate(-50%, -50%)
          margin-left: -75px
        &--next
          right: 50%
          transform: translate(50%, -50%)
          margin-right: -75px
  .card
    width: 48%
    height: 210px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
    &__logo
      grid-column: 1 / 3
    &__social
      &-networks
        grid-column: 3 / 7
    &__categories
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__legal
      grid-column:  span 2
    &__contact
      &-details
        grid-column: span 6
      &-form
        grid-column: span 5
    &__link
      &:hover
        color: inherit
    &-bottom
      &__link
        &:hover
          color: inherit
    &__input
      &-group
        flex-basis: 49%
  .modal
    &__dialog
      padding: 20px 50px
      width: 75%
@media (max-width: 576px)
  .container
    max-width: 90%
    padding: 0
  .logo
    width: 99px
  .hotel
    padding-bottom: 40px
    &-rating
      display: none
    &-grid
      &__info
        flex-direction: column
      &__booking
        width: 100%
        margin-bottom: 20px
      &__map
        width: 100%
        height: 173px
    &-slider
      margin-bottom: 20px
      &__item
        height: 179px
      &__button
        &--prev
          left: 0
        &--next
          right: 0
  .packages
    &-wrapper
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: repeat(5, 500px)
      grid-gap: 10px
    &-card
      &--detailed
        grid-template: repeat(2, 50%) / 1fr
        grid-column: 1 / 2
      &__stars
        &--detailed
          display: none
      &__text
        &--detailed
          display: none
      &__offer
        &--detailed
          min-width: 60px
          max-width: 100px
          padding: 4px 9px
          font-weight: 600
          font-size: 8px
          line-height: 10px
  .card
    &-booking
      &__ex-price
        font-size: 12px
        line-height: 16px
      &-price
        font-size: 20px
        line-height: 26px
      &__button
        padding: 10px 23px 10px 22px
        font-size: 12px
        line-height: 17px
  .newsletter
    &-wrapper
      max-width: 95%
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .reviews
    padding-bottom: 50px
    &__title
      max-width: 245px
      margin: 0 auto 40px
      font-size: 18px
      line-height: 23px
  .activities
    padding: 40px 0 60px
    &__title
      margin-bottom: 36px
      font-size: 18px
  .card
    width: 100%
    height: 255px
    &:nth-child(3)
      margin-bottom: 20px
  .footer
    padding: 69px 0 21px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
    &__title
      &--inline
        margin-bottom: 22px
        flex-basis: 100%
    &__social
      &-icons
        margin: 0
      &-networks
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        grid-row: 2
        grid-column: 1
    &__categories
      grid-row: 3
      grid-column: 1
    &__additional
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__icon
      &-wrapper
        min-width: 30px
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__input
      &-group
        flex-basis: 100%
    &__button
      min-width: 100px
      width: 50%
      order: 5
    &__required
      flex-basis: 100%
      order: 4
      margin-bottom: 15px
    &-bottom
      &__wrapper
        margin-top: 30px
        flex-wrap: wrap
        align-items: flex-start
      &__text
        flex-basis: 100%
        margin-bottom: 10px
  .modal
    &__dialog
      width: 85%
      padding: 20px 15px
    &__title
      margin-top: 20px
    &__message
      margin-bottom: 5px
    &__required
      flex-basis: 100%
      order: 6
      margin-bottom: 10px
    &__button
      order: 7
@media ( max-height: 500px)
  .modal
    &__dialog
      height: 100vh
      overflow-y: scroll
  

      
